*{
  margin: 0px;
}

.app {
  background-color: rgb(240, 240, 240);
}

.app__header {
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.app__posts{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.app__postsRight {
  margin-left: 10px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__mylogo {
  height: 40px;
}

.app__loginButton {
  background-color:#0095f6 !important;
  color: white !important;
  margin-right: 10px !important;
}

.app__signupButton {
  background-color: rgb(35, 143, 44) !important;
  color: white !important;
}

.app__logoutButton {
  background-color: lightgray !important;
}